set shell := ["bash", "-cu"]

default:
    @just --list

sync:
    uv sync

precommit-install:
    uv run pre-commit install

format:
    uv run ruff format {% if mode == "package" %}src tests{% else %}main.py tests{% endif %}

ruff:
    uv run ruff check {% if mode == "package" %}src tests{% else %}main.py tests{% endif %}

ruff-fix:
    uv run ruff check {% if mode == "package" %}src tests{% else %}main.py tests{% endif %} --fix

mypy:
    uv run mypy

test:
    uv run pytest

check: format ruff mypy test

{{ project }}:
    {% if mode == "no-package" %}uv run python main.py{% else %}uv run {{ project }}{% endif %}
