{
  "version": "0.2.0",
  "configurations": [
{% if package_mode == "no-package" %}
    {
      "name": "Python: main.py",
      "type": "debugpy",
      "request": "launch",
      "program": "${workspaceFolder}/main.py",
      "console": "integratedTerminal"
    }
{% else %}
    {
      "name": "Python: module",
      "type": "debugpy",
      "request": "launch",
      "module": "{{ project_module }}",
      "console": "integratedTerminal"
    }
{% endif %}
  ]
}
