set shell := ["bash", "-cu"]

default:
    @just --list

install:
    uv sync

format:
    uv run ruff format .

ruff:
    uv run ruff check .

ruff-fix:
    uv run ruff check . --fix

mypy:
{% if package_mode == "package" %}
    uv run mypy src
{% else %}
    uv run mypy main.py
{% endif %}

test:
    uv run pytest

check: format ruff mypy test

run:
{% if package_mode == "no-package" %}
    uv run python main.py
{% else %}
    uv run {{ project_slug }}
{% endif %}
